In [155]:
import pandas as pd

# Replace 'your_data_file.DATA' and 'your_csv_file.csv' with actual file paths
column_names = ["Age", "Work_class", "Final_Weight", "Education", "Education_Num", "Marital_Status", "Occupation", "Relationship",
                "Race", "Sex", "Capital_Gain", "Capital_Loss", "Hours_per_Week", "Native_Country", "Income"]

adult_test = pd.read_csv('F:\\IIT Platforms\\Second Year\\2 semester\\CM2604 Machine Learning\\Income-Prediction\\Dataset\\adult_test.test', delimiter=',', names=column_names).iloc[1:]  # Adjust delimiter if needed
adult_test.to_csv('adult_test.csv', index=False)
adult_test = pd.read_csv("adult_test.csv")
adult_test.head(100)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K.
1,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K.
2,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
3,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,0.0,40.0,United-States,>50K.
4,18,?,103497.0,Some-college,10.0,Never-married,?,Own-child,White,Female,0.0,0.0,30.0,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20,Private,479296.0,HS-grad,9.0,Never-married,Handlers-cleaners,Own-child,White,Male,0.0,0.0,40.0,United-States,<=50K.
96,25,Private,235218.0,Bachelors,13.0,Never-married,Exec-managerial,Own-child,White,Female,0.0,0.0,40.0,United-States,<=50K.
97,49,Private,164877.0,10th,6.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K.
98,59,Private,272087.0,HS-grad,9.0,Married-civ-spouse,Transport-moving,Husband,White,Male,0.0,0.0,40.0,United-States,>50K.
99,20,Private,169699.0,HS-grad,9.0,Never-married,Adm-clerical,Not-in-family,White,Female,0.0,0.0,40.0,United-States,<=50K.

In [156]:
adult_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             16281 non-null  int64
 1   Work_class      16281 non-null  object
 2   Final_Weight    16281 non-null  float64
 3   Education       16281 non-null  object
 4   Education_Num   16281 non-null  float64
 5   Marital_Status  16281 non-null  object
 6   Occupation      16281 non-null  object
 7   Relationship    16281 non-null  object
 8   Race            16281 non-null  object
 9   Sex             16281 non-null  object
 10  Capital_Gain    16281 non-null  float64
 11  Capital_Loss    16281 non-null  float64
 12  Hours_per_Week  16281 non-null  float64
 13  Native_Country  16281 non-null  object
 14  Income          16281 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.9+ MB

In [157]:
adult_test.nunique()

Age                  73
Work_class            9
Final_Weight      12787
Education            16
Education_Num        16
Marital_Status        7
Occupation           15
Relationship          6
Race                  5
Sex                   2
Capital_Gain        113
Capital_Loss         82
Hours_per_Week       89
Native_Country       41
Income                2
dtype: int64

In [158]:
# Print unique values for each column
for column in adult_test.columns:
    unique_values = adult_test[column].unique()
    print(f"{column} unique values:")
    print(unique_values)
    print("\n")

Age unique values:
[25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87]


Work_class unique values:
[' Private' ' Local-gov' ' ?' ' Self-emp-not-inc' ' Federal-gov'
 ' State-gov' ' Self-emp-inc' ' Without-pay' ' Never-worked']


Final_Weight unique values:
[226802.  89814. 336951. ... 349230. 321403.  83891.]


Education unique values:
[' 11th' ' HS-grad' ' Assoc-acdm' ' Some-college' ' 10th' ' Prof-school'
 ' 7th-8th' ' Bachelors' ' Masters' ' Doctorate' ' 5th-6th' ' Assoc-voc'
 ' 9th' ' 12th' ' 1st-4th' ' Preschool']


Education_Num unique values:
[ 7.  9. 12. 10.  6. 15.  4. 13. 14. 16.  3. 11.  5.  8.  2.  1.]


Marital_Status unique values:
[' Never-married' ' Married-civ-spouse' ' Widowed' ' Divorced'
 ' Separated' ' Married-spouse-absent' ' Married-AF-spouse']


Occupation unique values:
[' Machine-op-inspct' ' Farming-fishing' ' Protective-serv' ' ?'
 ' Other-service' ' Prof-specialty' ' Craft-repair' ' Adm-clerical'
 ' Exec-managerial' ' Tech-support' ' Sales' ' Priv-house-serv'
 ' Transport-moving' ' Handlers-cleaners' ' Armed-Forces']


Relationship unique values:
[' Own-child' ' Husband' ' Not-in-family' ' Unmarried' ' Wife'
 ' Other-relative']


Race unique values:
[' Black' ' White' ' Asian-Pac-Islander' ' Other' ' Amer-Indian-Eskimo']


Sex unique values:
[' Male' ' Female']


Capital_Gain unique values:
[    0.  7688.  3103.  6418.  7298.  3908. 14084.  5178. 15024. 99999.
  2597.  2907.  4650.  6497.  1055.  5013. 27828.  4934.  4064.  3674.
  2174. 10605.  3418.   114.  2580.  3411.  4508.  4386.  8614. 13550.
  6849.  2463.  3137.  2885.  2964.  1471. 10566.  2354.  1424.  1455.
  3325.  4416. 25236.   594.  2105.  4787.  2829.   401.  4865.  1264.
  1506. 10520.  3464.  2653. 20051.  4101.  1797.  2407.  3471.  1086.
  1848. 14344.  1151.  2993.  2290. 15020.  9386.  2202.  3818.  2176.
  5455. 11678.  7978.  7262.  6514. 41310.  3456.  7430.  2414.  2062.
 34095.  1831.  6723.  5060. 15831.  2977.  2346.  3273.  2329.  9562.
  2635.  4931.  1731.  6097.   914.  7896.  5556.  1409.  3781.  3942.
  2538.  3887. 25124.  7443.  5721.  1173.  4687.  6612.  6767.  2961.
   991.  2036.  2936.]


Capital_Loss unique values:
[   0. 1721. 1876. 2415. 1887.  625. 1977. 2057. 1429. 1590. 1485. 2051.
 2377. 1672. 1628. 1902. 1602. 1741. 2444. 1408. 2001. 2042. 1740. 1825.
 1848. 1719. 3004. 2179. 1573. 2205. 1258. 2339. 1726. 2258. 1340. 1504.
 2559. 1668. 1974. 1980. 1564. 2547. 2002. 1669. 1617.  323. 3175. 2472.
 2174. 1579. 2129. 1510. 1735. 2282. 1870. 1411. 1911. 1651. 1092. 1762.
 2457. 2231. 2238.  653. 1138. 2246. 2603. 2392. 1944. 1380. 2465. 1421.
 3770. 1594.  213. 2149. 2824. 1844. 2467. 2163. 1816. 1648.]


Hours_per_Week unique values:
[40. 50. 30. 32. 10. 39. 35. 48. 25. 20. 45. 47.  6. 43. 90. 54. 60. 38.
 36. 18. 24. 44. 56. 28. 16. 41. 22. 55. 14. 33. 37.  8. 12. 70. 15. 75.
 52. 84. 42. 80. 68. 99. 65.  5. 17. 72. 53. 29. 96. 21. 46.  3.  1. 23.
 49. 67. 76.  7.  2. 58. 26. 34.  4. 51. 78. 63. 31. 92. 77. 27. 85. 13.
 19. 98. 62. 66. 57. 11. 86. 59.  9. 64. 73. 61. 88. 79. 89. 74. 69.]


Native_Country unique values:
[' United-States' ' ?' ' Peru' ' Guatemala' ' Mexico'
 ' Dominican-Republic' ' Ireland' ' Germany' ' Philippines' ' Thailand'
 ' Haiti' ' El-Salvador' ' Puerto-Rico' ' Vietnam' ' South' ' Columbia'
 ' Japan' ' India' ' Cambodia' ' Poland' ' Laos' ' England' ' Cuba'
 ' Taiwan' ' Italy' ' Canada' ' Portugal' ' China' ' Nicaragua'
 ' Honduras' ' Iran' ' Scotland' ' Jamaica' ' Ecuador' ' Yugoslavia'
 ' Hungary' ' Hong' ' Greece' ' Trinadad&Tobago'
 ' Outlying-US(Guam-USVI-etc)' ' France']


Income unique values:
[' <=50K.' ' >50K.']

In [159]:
# Replace '?' with NaN in the 'Work_class' column
adult_test['Work_class'].replace(' ?', pd.NA, inplace=True)

In [160]:
# Drop rows with NaN in the 'Work_class' column
adult_test = adult_test.dropna(subset=['Work_class'])

# Print unique values for the 'Work_class' column after removing '?'
print("Work_class unique values after removing '?':")
print(adult_test['Work_class'].unique())

Work_class unique values after removing '?':
[' Private' ' Local-gov' ' Self-emp-not-inc' ' Federal-gov' ' State-gov'
 ' Self-emp-inc' ' Without-pay' ' Never-worked']

In [161]:
# Replace '?' with NaN in the 'Occupation' column
adult_test['Occupation'].replace(' ?', pd.NA, inplace=True)

# Drop rows with NaN in the 'Occupation' column
adult_test = adult_test.dropna(subset=['Occupation'])

# Print unique values for the 'Occupation' column after removing '?'
print("Occupation unique values after removing '?':")
print(adult_test['Occupation'].unique())

Occupation unique values after removing '?':
[' Machine-op-inspct' ' Farming-fishing' ' Protective-serv'
 ' Other-service' ' Prof-specialty' ' Craft-repair' ' Adm-clerical'
 ' Exec-managerial' ' Tech-support' ' Sales' ' Priv-house-serv'
 ' Transport-moving' ' Handlers-cleaners' ' Armed-Forces']

In [162]:
# Replace '?' with NaN in the 'Native_Country' column
adult_test['Native_Country'].replace(' ?', pd.NA, inplace=True)

# Drop rows with NaN in the 'Native_Country' column
adult_test = adult_test.dropna(subset=['Native_Country'])

# Print unique values for the 'Native_Country' column after removing '?'
print("Native_Country unique values after removing '?':")
print(adult_test['Native_Country'].unique())

Native_Country unique values after removing '?':
[' United-States' ' Peru' ' Guatemala' ' Mexico' ' Dominican-Republic'
 ' Ireland' ' Germany' ' Philippines' ' Thailand' ' Haiti' ' El-Salvador'
 ' Puerto-Rico' ' Vietnam' ' South' ' Columbia' ' Japan' ' India'
 ' Cambodia' ' Poland' ' Laos' ' England' ' Cuba' ' Taiwan' ' Italy'
 ' Canada' ' Portugal' ' China' ' Nicaragua' ' Honduras' ' Iran'
 ' Scotland' ' Jamaica' ' Ecuador' ' Yugoslavia' ' Hungary' ' Hong'
 ' Greece' ' Trinadad&Tobago' ' Outlying-US(Guam-USVI-etc)' ' France']

In [163]:
# Calculate the mean of 'Capital_Loss' excluding 0 values
median_capital_loss = adult_test[adult_test['Capital_Loss'] != 0]['Capital_Loss'].median()

# Replace 0 values in 'Capital_Loss' with the calculated mean
adult_test['Capital_Loss'] = adult_test['Capital_Loss'].replace(0, median_capital_loss)

# Print the mean value and updated 'Capital_Loss' column
print(f"Mean value of 'Capital_Loss' (excluding 0 values): {median_capital_loss}")
print("\nUpdated 'Capital_Loss' column:")
print(adult_test['Capital_Loss'])
print(adult_test['Capital_Loss'].unique())

Mean value of 'Capital_Loss' (excluding 0 values): 1902.0

Updated 'Capital_Loss' column:
0        1902.0
1        1902.0
2        1902.0
3        1902.0
5        1902.0
          ...
16275    1902.0
16276    1902.0
16278    1902.0
16279    1902.0
16280    1902.0
Name: Capital_Loss, Length: 15060, dtype: float64
[1902. 1721. 1876. 2415. 1887.  625. 1977. 2057. 1429. 1590. 1485. 2051.
 2377. 1672. 1628. 1741. 2444. 1408. 2001. 2042. 1740. 1825. 1848. 1719.
 3004. 2179. 1573. 2205. 1258. 2339. 1726. 2258. 1340. 1504. 2559. 1668.
 1974. 1980. 1564. 2547. 2002. 1669. 1617.  323. 1602. 3175. 2472. 1579.
 2129. 1735. 2282. 1870. 1911. 1092. 1762. 2457. 2231. 2238.  653. 1138.
 2246. 2603. 2392. 1510. 1944. 1380. 1421. 3770. 1594.  213. 2824. 2174.
 1844. 2149. 1411. 2467. 2163. 1651.]

In [164]:
# Calculate the mean of 'Capital_Gain' excluding 0 values
median_capital_gain = adult_test[adult_test['Capital_Gain'] != 0]['Capital_Gain'].median()

# Replace 0 values in 'Capital_Gain' with the calculated mean
adult_test['Capital_Gain'] = adult_test['Capital_Gain'].replace(0, median_capital_gain)

# Print the mean value and updated 'Capital_Gain' column
print(f"Mean value of 'Capital_Gain' (excluding 0 values): {median_capital_gain}")
print("\nUpdated 'Capital_Gain' column:")
print(adult_test['Capital_Gain'])
print(adult_test['Capital_Gain'].unique())

Mean value of 'Capital_Gain' (excluding 0 values): 7298.0

Updated 'Capital_Gain' column:
0        7298.0
1        7298.0
2        7298.0
3        7688.0
5        7298.0
          ...
16275    7298.0
16276    7298.0
16278    7298.0
16279    5455.0
16280    7298.0
Name: Capital_Gain, Length: 15060, dtype: float64
[ 7298.  7688.  3103.  6418.  3908. 14084.  5178. 15024.  2597.  2907.
  4650.  6497.  5013. 27828.  4934.  4064.  3674.  2174. 10605. 99999.
  1055.   114.  2580.  3411.  4508.  4386.  8614. 13550.  6849.  2463.
  3137.  2885.  2964.  1471. 10566.  2354.  1424.  1455.  3325.  4416.
 25236.  4787.  2829.  4865.  1264.  1506.   594. 10520.  3464. 20051.
  4101.  1797.  2407.  3471.  2653.  1086.  1848. 14344.  1151.  2993.
  2290. 15020.  9386.  2202.  3818.  2176.  5455.  3418. 11678.  7978.
  7262.  6514. 41310.  3456.  7430.  2062. 34095.  1831.  6723.  5060.
 15831.  2977.  2346.  3273.  2329.  9562.  2105.  2635.  2414.  4931.
  1731.  6097.   914.  7896.  5556.  3781.  3942.  2538.  3887.  1409.
 25124.  7443.  5721.   401.  1173.  4687.  6767.   991.  2036.]

In [165]:
adult_test.drop_duplicates()

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,25,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,7298.0,1902.0,40.0,United-States,<=50K.
1,38,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,7298.0,1902.0,50.0,United-States,<=50K.
2,28,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,7298.0,1902.0,40.0,United-States,>50K.
3,44,Private,160323.0,Some-college,10.0,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688.0,1902.0,40.0,United-States,>50K.
5,34,Private,198693.0,10th,6.0,Never-married,Other-service,Not-in-family,White,Male,7298.0,1902.0,30.0,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16275,33,Private,245211.0,Bachelors,13.0,Never-married,Prof-specialty,Own-child,White,Male,7298.0,1902.0,40.0,United-States,<=50K.
16276,39,Private,215419.0,Bachelors,13.0,Divorced,Prof-specialty,Not-in-family,White,Female,7298.0,1902.0,36.0,United-States,<=50K.
16278,38,Private,374983.0,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298.0,1902.0,50.0,United-States,<=50K.
16279,44,Private,83891.0,Bachelors,13.0,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455.0,1902.0,40.0,United-States,<=50K.
16280,35,Self-emp-inc,182148.0,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,7298.0,1902.0,60.0,United-States,>50K.

In [166]:
adult_test['Income'] = adult_test['Income'].str.replace('.', '')

# Display the updated DataFrame
print(adult_test['Income'])

0         <=50K
1         <=50K
2          >50K
3          >50K
5         <=50K
          ...
16275     <=50K
16276     <=50K
16278     <=50K
16279     <=50K
16280      >50K
Name: Income, Length: 15060, dtype: object

In [167]:
# Assuming 'df' is your DataFrame
float_columns = adult_test.select_dtypes(include='float64').columns

# Convert only float columns to integers
adult_test[float_columns] = adult_test[float_columns].astype('int64')

In [168]:
adult_test.head(100)

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,7298,1902,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,7298,1902,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,7298,1902,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,1902,40,United-States,>50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,7298,1902,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,41,Local-gov,201520,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,7298,1902,40,United-States,<=50K
107,28,Private,154236,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,2597,1902,40,United-States,<=50K
108,19,Private,289227,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,7298,1902,16,United-States,<=50K
109,18,Private,217439,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,7298,1902,28,United-States,<=50K
110,18,Private,179020,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Female,7298,1902,48,United-States,<=50K

In [169]:
# Sort the DataFrame by the 'Age' column in ascending order
adult_test = adult_test.sort_values(by='Age')

# Display the sorted DataFrame
adult_test.head()

,Age,Work_class,Final_Weight,Education,Education_Num,Marital_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_Week,Native_Country,Income
11509,17,Private,144752,10th,6,Never-married,Handlers-cleaners,Own-child,Amer-Indian-Eskimo,Male,7298,1902,20,United-States,<=50K
7012,17,Self-emp-not-inc,33230,11th,7,Never-married,Farming-fishing,Own-child,White,Male,7298,1902,15,United-States,<=50K
675,17,Private,190941,10th,6,Never-married,Sales,Own-child,White,Female,7298,1902,20,United-States,<=50K
11524,17,Private,329791,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,7298,1902,25,United-States,<=50K
7877,17,Private,284277,11th,7,Never-married,Other-service,Own-child,White,Male,1055,1902,20,United-States,<=50K

In [170]:
adult_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15060 entries, 11509 to 15088
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             15060 non-null  int64
 1   Work_class      15060 non-null  object
 2   Final_Weight    15060 non-null  int64
 3   Education       15060 non-null  object
 4   Education_Num   15060 non-null  int64
 5   Marital_Status  15060 non-null  object
 6   Occupation      15060 non-null  object
 7   Relationship    15060 non-null  object
 8   Race            15060 non-null  object
 9   Sex             15060 non-null  object
 10  Capital_Gain    15060 non-null  int64
 11  Capital_Loss    15060 non-null  int64
 12  Hours_per_Week  15060 non-null  int64
 13  Native_Country  15060 non-null  object
 14  Income          15060 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.8+ MB

In [171]:
# Assuming you have already read the data into 'adult_data' DataFrame
missing_values = adult_test.isnull().sum()

print("Missing values in each column:")
print(missing_values)

Missing values in each column:
Age               0
Work_class        0
Final_Weight      0
Education         0
Education_Num     0
Marital_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_Week    0
Native_Country    0
Income            0
dtype: int64

In [172]:
# Save the modified DataFrame to a new CSV file
adult_test.to_csv('adult_test_processed.csv', index=False)